button {
    border-radius: .3rem;
    padding: .4rem .5rem;
    border-color: #f44336;
    color: red;
    font-size: .7rem;
    float: right;
    cursor: pointer;

}

button:hover {
    background: #f44336;
    color: white;
}