  .nav {

    height: 5rem;
    display: flex;
    padding: 0 10%;
    justify-content: center;
    align-items: center;
    background: rgb(195, 208, 211);
    background: linear-gradient(103deg, rgba(40, 50, 61, 0.8) 8%, rgba(200, 146, 56, 1) 65%, rgba(178, 168, 193, 1) 100%);
  }

  

  .nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }

  .nav li {
    margin-left: 1.5rem;
    font-size: 1.3rem;
  }

  .nav a {
    text-decoration: none;
    color: white;
    padding: .5rem;
  }

  .nav a:hover,
  .nav a:active,
  .nav a.active {
    color: #293d69;
    
  }


  .nav a.active {
    text-decoration: underline;
    text-decoration-thickness: .4rem;
  }