.header {
    display: flex;
    justify-content: center;

}

li {
    margin: 1rem;
}

.normal {
    
    color: #000;
    font-size: 1.3rem;


}

.flex {
    display: flex;
    justify-content: center;
}

a {
    padding: .8rem;
    border-radius: 6px;
}

.active {
    border-bottom: 2px solid #000;
    font-weight: bold;
    color:rgb(206, 112, 206)
}

ul {
    list-style-type: none;

}

a {
    text-decoration-line: none;
}